.home-wrapper{
  background: url(../../images/home-background.svg)no-repeat;
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: color;
  background-attachment:fixed;
  background-size: cover;
}
.welcome-text{
  align-self: flex-start;
  color:white;
  font-size: 7.5em;
  font-weight: 500;
}
.welcome-text-bolder{
  font-size: 1.3em;
  font-weight: 900;
}
@media all and (max-width:1000px){
  .welcome-text{
    font-size: 4rem;
  }
}
