.home-wrapper{
  width:100%;
  height:100vh;
  background: url(../../images/home-background.svg)no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding:100px;
}
.welcome-text{
  color:white;
  font-size: 8em;
  font-weight: 500;
}
.welcome-text-bolder{
  font-size: 1.3em;
  font-weight: 900;
}