.about-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.about-content-wrapper {
  width: 1050px;
  border-radius: 20px;
  overflow: hidden;
}
.about-grid-wrapper {
  display: flex;
  flex-direction: column;
  height: 780px;
  width: 100%;
}
.about-grid-top {
  height: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.about-text-wrapper {
  text-align: center;
  padding: 50px;
  background: #6450d3;
  display: grid;
  place-content: center;
  gap: 20px;
  color: white;
}
.about-text-wrapper>h3{
  font-size:2rem;
}
.about-text-wrapper>p{
  font-size: 1.3rem;
  line-height: 30px;
  font-weight: 900;
}
.about-title-image-container {
  background-image: url(../../images/about-up-image.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.about-grid-bottom {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  height: 50%;
}
.bottom-image-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
}
.bottom-left-image-wrapper {
  grid-column: 1/3;
  background-image: url(../../images/about-bottom-image-left.svg);
}
.what-we-do-wrapper {
  grid-column: 3/8;
  width: 100%;
  height: 100%;
  background:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.what-we-do-wrapper>h3{
  font-size: 2rem;
  font-weight: 900;
}
.what-we-do-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
}
.what-we-do-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px;
}
.bottom-right-image-wrapper {
  grid-column: 8/-1;
  background-image: url(../../images/about-bottom-image-right.svg);
}
