.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 300px;
  background-color: #171717;
}
.footer-logo{
  width:100%;
}
.footer-logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:50px;
}
.footer-logo-wrapper > small{
  color:white;
}
