.App{
  width:100vw;
  height: fit-content;
  display:flex;
  flex-direction: column;
  gap:100px;
  overflow:hidden;
}

.section-title-wrapper{
  text-align: left;
  width:100%;
}
.section-title-wrapper>h2{
  color:white;
  font-size: 3.5em;
  font-weight: 900;
}
.all-sections{
  padding:20px;
  width:100%;
  min-height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:100px;
}
@media all and (max-width:1000px){
  .all-sections{
    gap:50px;
  }
}