*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "poppins",sans-serif;
}
body{
  background:url(./images/bg.svg);
  background-repeat: repeat-y;
  background-size: cover;
}
::-webkit-scrollbar{
  display:none;
}
